body {
    color:aliceblue;
    background: rgb(94, 94, 165) ;
    margin: 0px;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 100px;
}

header {

    border-bottom: solid 2px rgb(62, 38, 68);
    padding: 20px;
    font-size: 30px;
    color: rgb(31, 25, 66);
}

.detalhes {
    background-color: rgb(191, 169, 212);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}
